CDStore/CDStore/src/conf/xml-resources/web-service-references/ProductCatalogWS/wsdl/localhost_8080/ProductCatalogService/ProductCatalogWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ProductCatalogWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/ProductCatalogService/ProductCatalogWS?xsd=1" />
</xsd:schema>
</types>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo" />
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse" />
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts" />
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse" />
</message>
<message name="getCategoryList">
<part name="parameters" element="tns:getCategoryList" />
</message>
<message name="getCategoryListResponse">
<part name="parameters" element="tns:getCategoryListResponse" />
</message>
<message name="getProductsByCategory">
<part name="parameters" element="tns:getProductsByCategory" />
</message>
<message name="getProductsByCategoryResponse">
<part name="parameters" element="tns:getProductsByCategoryResponse" />
</message>
<portType name="ProductCatalogWS">
<operation name="getProductInfo">
<input wsam:Action="http://service/ProductCatalogWS/getProductInfoRequest" message="tns:getProductInfo" />
<output wsam:Action="http://service/ProductCatalogWS/getProductInfoResponse" message="tns:getProductInfoResponse" />
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://service/ProductCatalogWS/getAllProductsRequest" message="tns:getAllProducts" />
<output wsam:Action="http://service/ProductCatalogWS/getAllProductsResponse" message="tns:getAllProductsResponse" />
</operation>
<operation name="getCategoryList">
<input wsam:Action="http://service/ProductCatalogWS/getCategoryListRequest" message="tns:getCategoryList" />
<output wsam:Action="http://service/ProductCatalogWS/getCategoryListResponse" message="tns:getCategoryListResponse" />
</operation>
<operation name="getProductsByCategory">
<input wsam:Action="http://service/ProductCatalogWS/getProductsByCategoryRequest" message="tns:getProductsByCategory" />
<output wsam:Action="http://service/ProductCatalogWS/getProductsByCategoryResponse" message="tns:getProductsByCategoryResponse" />
</operation>
</portType>
<binding name="ProductCatalogWSPortBinding" type="tns:ProductCatalogWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getProductInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategoryList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProductsByCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProductCatalogWS">
<port name="ProductCatalogWSPort" binding="tns:ProductCatalogWSPortBinding">
<soap:address location="http://localhost:8080/ProductCatalogService/ProductCatalogWS" />
</port>
</service>
</definitions>