CDStore/CDStore/src/conf/xml-resources/web-service-references/OrderProcessWS/wsdl/localhost_8080/OrderProcessService/OrderProcessWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="confirmOrder" type="tns:confirmOrder" />

<xs:element name="createAccount" type="tns:createAccount" />

<xs:element name="createOrder" type="tns:createOrder" />

<xs:element name="createOrderResponse" type="tns:createOrderResponse" />

<xs:element name="getAccount" type="tns:getAccount" />

<xs:element name="getAccountResponse" type="tns:getAccountResponse" />

<xs:element name="getOrdersByAccountId" type="tns:getOrdersByAccountId" />

<xs:element name="getOrdersByAccountIdResponse" type="tns:getOrdersByAccountIdResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAccount">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="lname" type="xs:string" minOccurs="0" />
<xs:element name="fname" type="xs:string" minOccurs="0" />
<xs:element name="payment" type="xs:string" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="province" type="xs:string" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccount">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="fname" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="lname" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="payment" type="xs:string" minOccurs="0" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
<xs:element name="province" type="xs:string" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmOrder">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrder">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="account" type="xs:string" minOccurs="0" />
<xs:element name="subtotal" type="xs:string" minOccurs="0" />
<xs:element name="cds" type="tns:product" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="cdid" type="xs:string" minOccurs="0" />
<xs:element name="price" type="xs:int" />
<xs:element name="title" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersByAccountId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersByAccountIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="order">
<xs:sequence>
<xs:element name="account" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="subtotal" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>