CDStore/CDStore/src/conf/xml-resources/web-service-references/OrderProcessWS/wsdl/localhost_8080/OrderProcessService/OrderProcessWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="OrderProcessWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/OrderProcessService/OrderProcessWS?xsd=1" />
</xsd:schema>
</types>
<message name="getOrdersByAccountId">
<part name="parameters" element="tns:getOrdersByAccountId" />
</message>
<message name="getOrdersByAccountIdResponse">
<part name="parameters" element="tns:getOrdersByAccountIdResponse" />
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder" />
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse" />
</message>
<message name="confirmOrder">
<part name="parameters" element="tns:confirmOrder" />
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount" />
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse" />
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="OrderProcessWS">
<operation name="getOrdersByAccountId">
<input wsam:Action="http://service/OrderProcessWS/getOrdersByAccountIdRequest" message="tns:getOrdersByAccountId" />
<output wsam:Action="http://service/OrderProcessWS/getOrdersByAccountIdResponse" message="tns:getOrdersByAccountIdResponse" />
</operation>
<operation name="createOrder">
<input wsam:Action="http://service/OrderProcessWS/createOrderRequest" message="tns:createOrder" />
<output wsam:Action="http://service/OrderProcessWS/createOrderResponse" message="tns:createOrderResponse" />
</operation>
<operation name="confirmOrder">
<input wsam:Action="http://service/OrderProcessWS/confirmOrder" message="tns:confirmOrder" />
</operation>
<operation name="getAccount">
<input wsam:Action="http://service/OrderProcessWS/getAccountRequest" message="tns:getAccount" />
<output wsam:Action="http://service/OrderProcessWS/getAccountResponse" message="tns:getAccountResponse" />
</operation>
<operation name="createAccount">
<input wsam:Action="http://service/OrderProcessWS/createAccount" message="tns:createAccount" />
</operation>
<operation name="hello">
<input wsam:Action="http://service/OrderProcessWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://service/OrderProcessWS/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="OrderProcessWSPortBinding" type="tns:OrderProcessWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getOrdersByAccountId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="confirmOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="getAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OrderProcessWS">
<port name="OrderProcessWSPort" binding="tns:OrderProcessWSPortBinding">
<soap:address location="http://localhost:8080/OrderProcessService/OrderProcessWS" />
</port>
</service>
</definitions>